.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.form label {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.form button {
  margin: 10px;
}

.card {
  width: 500px;
  height: 170px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

#updateInput {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}
